#product-overview {
  background-color: #ff1b68;
  padding: 5px;
  /* border-style: solid;
  border-color: black;
  border-width: 10px; */
  margin: 0px;
  /*width: 100%;*/
  height: 100px;
  text-align: center;
  position: relative;
  top: 30px;
  z-index: -1;
}

#product-overview H1 {
  color: white;
  font-family: "Anton", sans-serif;
}

#product-overview2 {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url(images/freedom.jpg) left 10% bottom 20% / cover no-repeat, #ff1b68;
  border: border-box;
  /* background-image: url(images/freedom.jpg);
  background-size: cover;
  background-position: left 10% bottom 20;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box; */
  /*background-attachment: ;*/
  /*background-image: linear-gradient(to left bottom, blue, red);*/
  /*background-image: radial-gradient(circle at 20% 50%, red, white, blue, white);*/
  /*background-image: radial-gradient(
    ellipse 800px 300px,
    red,
    white,
    blue,
    white
  );*/
  /*background-image: radial-gradient(
    ellipse farthest-corner at 20% 50%,
    red,
    white,
    blue,
    white
  );*/
  padding: 5px;
  /* border-style: solid;
  border-color: black;
  border-width: 10px; */
  margin: 5px;
  /*width: 100%;*/
  /* border: 5px dashed red;*/
  height: 500px;
  text-align: center;
}

#product-overview2 H1 {
  color: white;
  font-family: "Anton", sans-serif;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.paragraph {
  text-align: center;
}

.paragraph::first-letter {
  color: red;
  font-size: 20px;
}

.plan_list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  display: inline-block;
  width: 30%;
  background-color: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  vertical-align: middle;
}

.plan-highlighted {
  background-color: #19b84c;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px 2px;
}

.plan_annotation {
  color: white;
  background-color: #ff1b68;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px 2px;
  font-family: "Allan", cursive;
  font-size: 170%;
  border-radius: 4px;
}

.plan_title {
  color: #0e4f1f;
}

.plan_price {
  color: rgba(5, 4, 4, 0.705);
}

.plan-highlighted .plan_title {
  color: white;
}

.plan_features {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.plan_features li {
  margin: 10px 0px;
}

#reasons {
  background-color: #ff1b68;
  margin: 5px;
  border: 0px;
  padding: 10px;
  color: white;
  text-align: center;
}

#reasons .section-title {
  margin: 32px;
}

.reasons_list {
  list-style: none;
  padding: 20px;
}

.reason {
  display: inline-block;
  width: 30%;
  padding: 30px;
  font-size: 15px;
  vertical-align: top;
}

.reason_image {
  background-color: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 20px;
}
