#product-overview {
  background-color: #ff1b68;
  padding: 0.3rem;
  /* border-style: solid;
  border-color: black;
  border-width: 10px; */
  margin: 0px;
  /*width: 100%;*/
  height: 5rem;
  text-align: center;
  position: relative;
  /*top: 1.9rem;*/
  z-index: -1;
}

#product-overview H1 {
  color: white;
  font-family: "Anton", sans-serif;
  vertical-align: center;
  font-size: 1.2rem;
}

#product-overview2 {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url(images/freedom.jpg) center/cover no-repeat, #ff1b68;
  border: border-box;
  /* background-image: url(images/freedom.jpg);
  background-size: cover;
  background-position: left 10% bottom 20;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box; */
  /*background-attachment: ;*/
  /*background-image: linear-gradient(to left bottom, blue, red);*/
  /*background-image: radial-gradient(circle at 20% 50%, red, white, blue, white);*/
  /*background-image: radial-gradient(
    ellipse 800px 300px,
    red,
    white,
    blue,
    white
  );*/
  /*background-image: radial-gradient(
    ellipse farthest-corner at 20% 50%,
    red,
    white,
    blue,
    white
  );*/
  padding: 0.3rem;
  /* border-style: solid;
  border-color: black;
  border-width: 10px; */
  margin: 0rem;
  /*width: 100%;*/
  /* border: 5px dashed red;*/
  height: 40vh;
  width: 100vw;
  text-align: center;
  position: relative;
  margin-top: 3.5ren;
}

#product-overview2 H1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: relative;
  bottom: -250px;
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  #product-overview2 {
    height: 50vh;
    background-position: 50% 25%;
  }
  #product-overview2 h1 {
    font-size: 2rem;
  }
  #product-overview h1 {
    font-size: 1.5rem;
    vertical-align: center;
    vertical-align: center;
  }
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.paragraph {
  text-align: center;
}

.paragraph::first-letter {
  color: red;
  font-size: 1.25rem;
}

.plan_list {
  width: 100%;
  text-align: center;
}

.plan {
  display: block;
  width: 100%;
  background-color: #d5ffdc;
  text-align: center;
  margin: 0.5rem 0;
  padding: 1rem;
}

@media (min-width: 40rem), (orientation: landscape) {
  .plan {
    width: 32%;
    min-width: 10rem;
    /*max-width: 20rem;*/
    height: 32rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .plan_list {
    width: 90%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.plan-highlighted {
  background-color: #19b84c;
  color: white;
}

@media (min-width: 40rem) {
  .plan-highlighted {
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 35rem;
  }
}

.plan_annotation {
  color: white;
  background-color: #ff1b68;
  padding: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px 2px;
  font-family: "Allan", cursive;
  font-size: 150%;
  border-radius: 4px;
}

.plan_title {
  color: #0e4f1f;
}

.plan_price {
  color: rgba(5, 4, 4, 0.705);
}

.plan-highlighted .plan_title {
  color: white;
}

.plan_features {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.plan_features li {
  margin: 0.75rem 0.75rem;
}

#reasons {
  background-color: #ff1b68;
  margin: 0.3rem;
  border: 0px;
  padding: 0.6rem;
  color: white;
  text-align: center;
}

#reasons .section-title {
  margin: 2rem;
}

.reasons_list {
  list-style: none;
  padding: 1.25rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reason {
  width: 100%;
  width: 100%;
  padding: 1.9rem;
  font-size: 0.95rem;
}

.reason_image {
  background-color: #ffcede;
  width: 14rem;
  height: 14rem;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.25rem;
  text-align: center;
}

.reason_description {
  text-align: center;
  font-size: 1.25rem;
  width: 90%;
  margin: 2rem;
}

@media (min-width: 40rem) {
  .reason {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    max-width: 20rem;
  }

  .reason_image {
    width: 128px;
    height: 128px;
    margin: auto;
  }

  .reason_description {
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    vertical-align: center;
    position: relative;
  }
}

.modal {
  position: fixed;
  /*display: none;*/
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 200ms ease-out /*1s*/, transform 1000ms ease-out /*1s*/;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

.plan_annotation {
  animation: wiggle2 800ms 1s alternate;
  animation-iteration-count: 2;
}

@keyframes wiggle2 {
  0% {
    transform: rotateZ(0);
  }
  20% {
    transform: rotateZ(45deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
