* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header_brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  height: 22px;
}

.main-header_brand img {
  height: 100%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 90px);
  vertical-align: middle;
}

.main-nav_items {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #0e4f1f;
}

.main-nav_item {
  display: inline-block;
  margin: 0px 10px;
}

.main-nav_item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 5px 0px;
}

.main-nav_item a::after {
  content: " *";
  color: white;
}

.main-nav_items a:hover,
.main-nav_items a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav_item-cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav_item-cta a:hover,
.main-nav_item-cta a:active {
  color: #ff1b68;
  background: white;
  border-bottom: 0px;
}

.button {
  background-color: #0e4f1f;
  color: white;
  font: inherit;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

.main-footer {
  background-color: black;
  color: white;
  font-family: sans-serif;
  padding: 10px;
}

.main-footer_links {
  text-align: center;
  list-style: none;
  padding: 8px;
}

.main-footer_link {
  display: inline-block;
  padding: 8px;
  width: 20%;
  vertical-align: top;
}

.main-footer_link a {
  color: white;
  text-decoration: none;
}

.main-footer_link a:hover,
.main-footer_link a:active {
  color: gray;
}
