/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allan&display=swap");

:root {
  --dark-green: #0e4f1f;
  --light-green: #2ddf5c;
  --pink-special: #ff1b68;
}

body,
html {
  max-height: 100%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Verdana", sans-serif;
  margin: 0;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  /*max-height: cal(100vh - 3.5rem - 8rem);*/
  /*grid-row: 2 / 3;*/
  grid-area: main;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3rem auto fit-content(5rem);
  grid-template-rows: 3rem auto fit-content(5rem);
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.backdrop {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
  display: none;
}

.main-header {
  width: 100%;
  /*background: #2ddf5c;*/
  background: var(--light-green);
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0px;
  z-index: 1;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*.main-header > div {
  display: inline-block;
  vertical-align: middle;
}*/

.main-header_brand {
  /*color: #0e4f1f;*/
  color: var(--dark-green);
  text-decoration: none;
  font-weight: bold;
  /*display: inline-block;
  vertical-align: middle;*/
}

.main-header_brand img {
  height: 1.8rem;
  vertical-align: top;
  position: relative;
  vertical-align: middle;
}

.main-nav {
  /*display: none;
  text-align: right;
  width: calc(100% - 122px);
  vertical-align: middle;*/
  display: none;
}

@media (min-width: 40rem) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-nav_items {
  margin: 0;
  padding: 0;
  list-style: none;
  /*color: #0e4f1f;*/
  color: var(--dark-green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav_item {
  margin: 0px 0.6rem;
}

.main-nav_item a,
.mobile-nav__item a {
  text-decoration: none;
  /*color: #0e4f1f;*/
  color: var(--dark-green);
  font-weight: bold;
  padding: 0.3rem 0px;
}

.main-nav_item a::after {
  content: " *";
  color: white;
}

.main-nav_items a:hover,
.main-nav_items a:active {
  color: white;
  border-bottom: 0.3rem solid white;
}

.main-nav_item-cta {
  -webkit-animation: wiggle 200ms 1s alternate;
  animation: wiggle 200ms 1s alternate;
  -webkit-animation-iteration-count: 10;
  animation-iteration-count: 10;
}

.main-nav_item-cta a,
.mobile-nav__item--cta a {
  color: white;
  /*background: #ff1b68;*/
  background: var(--pink-special);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav_item-cta a:hover,
.main-nav_item-cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  /*color: #ff1b68;*/
  color: var(--pink-special);
  background: white;
  border-bottom: 0px;
}

.mobile-nav {
  /*display: none;*/
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: tra nsform 300ms ease-out;
  -o-transition: tra nsform 300ms ease-out;
  transition: tra nsform 300ms ease-out;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  height: 1rem;
  position: relative;
  display: inline;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.1rem;
  background: black;
  display: block;
  margin: 0.3rem 0;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
}

.button {
  /*background-color: #0e4f1f;*/
  background-color: var(--dark-green);
  color: white;
  font: inherit;
  padding: 0.6rem;
  margin: 0.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button[disabled] {
  cursor: not-allowed;
  border: rgb(102, 101, 101);
  background: #ccc;
  color: rgb(102, 101, 101);
}

.button:hover,
.button:active {
  background-color: white;
  /*color: #0e4f1f;*/
  color: var(--dark-green);
}

.button:focus {
  outline: none;
}

.main-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  background-color: black;
  color: white;
  font-family: sans-serif;
  /*padding: 0.6rem;*/
  /*grid-row: 3 / 4;*/
  grid-area: footer;
}

.main-footer_links {
  text-align: center;
  list-style: none;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-footer_link {
  width: 20%;
  vertical-align: top;
  margin: 0.5rem 0.5rem;
}

@media (min-width: 40rem) {
  .main-footer_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.main-footer_link a {
  color: white;
  text-decoration: none;
}

.main-footer_link a:hover,
.main-footer_link a:active {
  color: gray;
}

.open {
  display: block !important;
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  transform: translateY(0) !important;
}

@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
}

@keyframes wiggle {
  from {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
}
