@font-face {
  font-family: "AnonymousPro";
  src: /*url("anonymousPro-Regular.woff2") format("woff2"),
      url("anonymousPro-Regular.woff") format("woff"),*/ url("anonymousPro-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "AnonymousPro";
  src: url("anonymousPro-Bold.ttf") format("truetype");
  font-weight: 700;
}

.background {
  background: url(../images/plans-background.jpg) center/cover;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.package a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 2rem;
}

.package {
  border: 2px black solid;
  border-left: none;
  width: 80%;
  margin: 1rem 0px;
  text-align: left;
  vertical-align: middle;
  color: white;
  position: relative;
  overflow: hidden;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}

.package_info {
  /*font-style: normal;
  font-variant: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  font-family: "AnonymousPro", sans-serif;
  */
  font: normal normal 700 1rem/1 "AnonymousPro", sans-serif;
  /* font-style font-variant font-weight font-size/line-height font-family*/
  border: 1px solid black;
  padding: 0.3rem;
  background-color: white;
  /*line-height: 1;*/
  /*Depends on the font*/
  /*text-decoration: line-through wavy red;*/
  /*text-shadow: 2px 2px 7px gray;*/
}

.package h1 {
  font-size: 30px;
}

.package h2 {
  font-size: 20px;
}

.package h3 {
  font-size: 0.9rem;
}

.clearfix {
  clear: both;
}

#plus {
  background-color: rgba(213, 255, 220, 0.95);
}

.package_badge {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
  color: white;
  background: #ff5454;
  padding: 8px;
  transform: rotateZ(45deg) translateX(8rem) translateY(-5rem);
  transform-origin: center;
  width: 25rem;
  text-align: center;
}

#free {
  background-color: rgba(234, 252, 237, 0.95);
  float: right;
  border-right: none;
  border-left: 2px black solid;
  text-align: right;
}

#free:hover,
#free:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}

#premium {
  background-color: rgba(14, 79, 31, 0.95);
  color: white;
}

#premium h1 {
  color: white;
}

#premium h2 {
  color: white;
}

@media (min-width: 40rem) {
  main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 40rem) {
  .package {
    border-left: 2px black solid;
  }
  #free {
    border-right: 2px black solid;
  }
  #free:hover,
  #free:active {
    border-right-color: #ff5454;
  }
  .package_badge {
    transform: rotateZ(45deg) translateX(8rem) translateY(-4rem);
    transform-origin: center;
  }
  .package h3 {
    font-size: 1.2rem;
  }
}
